// Preview of the tutorial by Patryk Zabielski
// www.dribbble.com/zabielski | www.patrykzabielski.com
// Tutorial: https://medium.com/@PatrykZabielski/how-to-make-multi-layered-parallax-illustration-with-css-javascript-2b56883c3f27

$bronze: #121212;
$white: #fff;
$heroHeight: 500px;

body {
  padding: 0;
  margin: 0;
  background-color: $bronze;
  font-family: 'Exo', sans-serif;
  color: $white;
  text-align: center;
}

#hero {
  height: $heroHeight;
  overflow: hidden;
  position: relative;

  .hero-content-wrapper
  {
    position: relative;
    top: 300px;

    .hero-author, .hero-title {
      margin-bottom: 25px;
      font-family: 'Press Start 2P', monospace;
      font-size: 18px;
      text-shadow: 4px 3px 0px red, 9px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .hero-title {
      font-size: 40px;
    }
  }
}

#feature-parallax {
  height: $heroHeight;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: $bronze;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: $heroHeight;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("../img/mobile_hero.jpg") no-repeat center bottom / cover;
  height: 320px;

  .hero-content-wrapper
  {
    position: relative;
    top: 250px;

    .hero-author, .hero-title {
      margin-bottom: 6px;
      font-family: 'Press Start 2P', monospace;
      font-size: 10px;
      text-shadow: 4px 3px 0px red, 9px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .hero-title {
      font-size: 20px;
    }
  }
}

section {
  padding: 50px 0 25px 0px;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 25px;
  font-family: 'Press Start 2P', monospace;
  font-size: 25px;
  text-shadow: 4px 3px 0px red, 9px 8px 0px rgba(0, 0, 0, 0.25);
}



p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

a {
  font-size: 18px;
}

#youtube-trailer {
  padding-bottom: 56.1%;
  position: relative;
  height: 0;
  overflow: hidden;


  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:3px solid #333;
  }
}

#hero, .layer {
  min-height: 500px;
}



.footer-layer-bg {
  background-image: url('../img/layer_0.jpg');
}

.layer-bg {
  background-image: url('../img/layer_0.jpg');
}

.layer-1 {
  background-image: url('../img/layer_1.png');
  //background-position: left bottom;
}

.layer-2 {
  background-image: url('../img/layer_3.png');
}

.layer-3 {
  background-image: url('../img/layer_2.png');
  //background-position: right bottom;
}

.layer-4 {
  background-image: url('../img/layer_4.png');

}

.layer-6 {
  background-image: url('../img/layer_6.png');
}

.layer-8 {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 468px;
  background: #121212;
  opacity: 0.5;
}

.layer-9 {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 436px;
  background: #121212;
  opacity: 0.5;
}

.layer-overlay {
  background-image: url('../img/layer_5.png');

}

.app-store-icon {

  //margin-left: -67px;

}

.app-store-link {
  //left: 50%;
  position: relative;
  //top: 410px;
}

// Media Queries
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  #hero-mobile {
    display: block;
  }

  h1 {
    font-size: 15px;
  }
}

// Additional
.tutorial-link {
  color: $white;
  font-size: 18px;
  text-decoration: underline;
  &:hover {
    color: #ede0d5;
  }
}

.contact-email, .contact-message {
  margin: 10px;
  width: 300px;
  padding: 5px;
  color: black;
}

.contact-form {
  padding: 25px;
  background: #333;

  .button {
    color: red;
    background: black;
  }
}

div.iphone {
  //@include box-sizing(border-box);
  background: url(../img/iphone.svg) no-repeat center;
  background-size: 287px 569px;
  width: 287px;
  height: 569px;
  padding: 75px 0 0 26px;
  text-align: center;
  margin: 0 auto;

  div, img {
    background: #000;
    width: 237px;
    height: 421px;
    overflow: hidden;
  }

  //@media #{$grater-small-media-query} {
  //  display: none;
  //}
}
